body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f1c40f;
}
%btn {
  margin: 3px;
  all: unset;
  width: 100px;
  height: 35px;
  background: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 3px solid #fff;
  &:hover {    
    background: lighten(#000, 20%);
  }
}
header {
  button {
    @extend %btn;
  }
}
main {
  line-height: 550px;
  text-align: center;
  form {
    display: inline-block;
    height: auto;
    line-height: 1;
    input[type='text'] {
      height: 35px;
      width: 200px;
      font-size: 1.1em;
      transition: all 0.3s;
      padding-left: 10px;
      &:focus {
        border: 3px solid #000;
      }
    }
    input[type='button'] {
      @extend %btn;
    }
  }
}
